nav{
    background-color: none;
    transition: all 0.5s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
nav.active{
    background-color: #03246cfa;
    color: #000000;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
nav img{
    width: 40px;
    height: auto;
}
.navbar button{
    margin-right: 20px;
}
.navbar a{
    margin: 5px 0px 5px 15px;
    font-weight: bold;
    font-family: "Viga";
    letter-spacing: 1px;
    color: #000000;
}
.navbar ul{
    margin-right: 30px;
}
nav span{
    color: #000000;
}

.jumbotron{
    text-align: center;
    height: 700px;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
}
.jumbotron p{
    margin: 5px 60px;
    margin-bottom: 25px;
    font-size: 12px;
    font-family: 'Red Hat Text';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.jumbotron .display-5{
    padding-top: 250px;
    font-family: 'Rosario';
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.jumbotron button{
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #1768AC;
    border: 0;
}
.section-2{
    margin-top: 80px;
    margin-bottom: 90px;
}
.section-2 h2{
    margin-bottom: 35px;
    font-family: 'Rosario';
    font-weight: 900;
    font-size: 20px;
}
.section-2 .title{
    font-family: 'Red Hat Text';
    font-size: 15px;
}
.section-2 p{
    font-family: 'Rosarivo';
    font-size: 12px;
    text-align: justify;
}
.section-2 a{
    font-family: 'Red Hat Display';
    font-size: 12px;
    background-color: #06bee1;
    border: none;
    color: #ffffff;
    margin-bottom: 20px;
    align-self: flex-end;
    width: 160px;
    border-radius: 30px;
}
.section-3{
    padding-top: 100px;
    padding-bottom: 110px;
    background-image: url(bg33.jpg);
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    text-align: center;
}
.section-3 h2{
    margin-bottom: 75px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Rosario';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.section-3 img{
    margin-bottom: 35px;
    width: fit-content;
}
.section-3 .row{
    margin: 0 50px;
}
.section-3 p{
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Red Hat Text';
    margin: 0 30px 40px 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.section-4 .d-flex{
    flex-direction: column;
}
.section-4 .top{
    margin-top: 100px;
}
.section-4 img{
    max-width: 100%;
    height: auto;
}
.section-4 #box{
    width: 50%;
    height: auto;
}
.section-4 h6{
    font-family: 'Red Hat Text';
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    text-align: center;
}
.section-4 h2{
    font-family: 'Rosario';
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.section-4 .right{
    padding: 10px 0px 0px 0px;
}
.section-4 .left{
    padding: 15px 0px 0px 0px;
}
#section-4 h4{
    font-family: 'Red Hat Text';
    font-size: 15px;
    font-weight: 500;
}
#section-4 p{
    font-family: 'Rosarivo';
    font-size: 12px;
    text-align: justify;
}

.section-5{
    margin-top: 100px;
    margin-bottom: 20px;
}
.section-5 .d-flex{
    flex-direction: column;
}
.section-5 h2{
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Rosario';
    font-weight: 600;
}
.section-5 .form-group{
    margin-top: 20px;
}
.section-5 .form-control{
    margin-bottom: 25px;
    border-radius: 20px;
    border-color: #000000;
}
.section-5 .form-group .message{
    margin-bottom: 50px;
}
.section-5 .form-group button{
    background-color: #1768AC;
    border-radius: 10px;
}
#section-5 #box{
    width: 50%;
    height: auto;
}
#section-5 iframe{
    width: 100%;
    max-height: fit-content;
}
footer {
    background-color: #03246cfa;
}
footer .d-flex{
    flex-direction: column;
}
footer .col{
    align-self: center;
    justify-content: flex-end;
    margin: 15px 0;
}
footer .col span{
    font-size: 25px;
    font-family: 'Viga';
    color: #ffffff;
}
footer .col a{
    margin: 0 35px;
    font-size: 15px;
    font-family: 'Viga';
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 992px) {
    nav img{
        width: 55px;
        height: auto;
    }
    .jumbotron p{
        margin: 5px 150px;
        margin-bottom: 25px;
        font-size: 16px;
    }
    .jumbotron .display-5{
        padding-top: 250px;
        font-size: 60px;
    }
    .section-2{
        margin-top: 120px;
        margin-bottom: 150px;
    }
    .section-2 h2{
        margin-bottom: 35px;
        font-weight: 900;
        font-size: 35px;
    }
    .section-2 .title{
        font-size: 20px;
    }
    .section-2 p{
        font-size: 16px;
    }
    .section-2 a{
        font-size: 16px;
        margin-bottom: 20px;
        align-self: flex-end;
    }
    .section-2 a{
        width: 40%;
    }
    .section-3{
        padding-top: 160px;
        padding-bottom: 180px;
    }
    .section-3 h2{
        margin-bottom: 75px;
        font-size: 50px;
        font-weight: 600;
    }
    .section-3 .row{
        margin: 0 50px;
    }
    .section-3 p{
        font-size: 16px;
        font-weight: lighter;
        margin: 0 50px 40px 50px;
    }
    .section-4 .top{
        margin-top: 150px;
    }
    .section-4 img{
        max-width: 100%;
        height: auto;
    }
    .section-4 #box{
        width: 50%;
        height: auto;
    }
    .section-4 h6{
        font-size: 18px;
        font-weight: 400;
        margin-left: 125px;
        margin-top: 80px;
        text-align: left;
    }
    .section-4 h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 125px;
        margin-bottom: 50px;
        text-align: left;
    }
    .section-4 .right{
        padding: 0 50px;
    }
    .section-4 .left{
        padding: 0 50px;
    }
    #section-4 h4{
        font-size: 20px;
        font-weight: 500;
    }
    #section-4 p{
        font-size: 18px;
    }
    .section-4 .d-flex{
        flex-direction: row;
    }
    .section-5{
        margin-top: 100px;
    }
    .section-5 .d-flex{
        flex-direction: row;
    }
    .section-5 h2{
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 600;
    }
    .section-5 .form-group{
        margin-left: 80px;
        margin-right: 90px;
    }
    .section-5 .form-control{
        margin-bottom: 25px;
    }
    .section-5 .form-group .message{
        margin-bottom: 50px;
    }
    #section-5 #box{
        width: 50%;
        height: auto;
    }
    #section-5 iframe{
        width: 100%;
        max-height: fit-content;
    }
    footer .col{
        align-self: center;
        justify-content: flex-end;
        margin: 15px 0;
    }
    footer .col span{
        font-size: 25px;
    }
    footer .col a{
        margin: 0 35px;
        font-size: 15px;
        text-decoration: none;
    }
    footer .d-flex{
        flex-direction: row;
    }
}

@media ((min-width: 992px) and (max-width: 1200px)) {
    .section-2 .kickstart a{
        margin-top: 25px;
    }
    .section-2 a{
        width: 50%;
    }
}